Source: htslib
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-exec,
               zlib1g-dev
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-med/htslib.git
Vcs-Git: git://anonscm.debian.org/debian-med/htslib.git -b debian/unstable
Homepage: https://github.com/samtools/htslib

Package: libhts1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: C library for high-throughput sequencing data formats
 HTSlib is a unified C library for accessing common file formats, such as SAM
 (Sequence Alignment/Map) and VCF (Variant Call Format), used for nucleic acid
 sequence data obtained by high-throughput sequencing.
 .
 HTSlib implements a generalized BAM (binary SAM) index.  The HTSlib file
 reader first looks for the new index and then for the old if the new index is
 absent.
 .
 HTSlib is still experimental.  It has not been tested on large-scale real
 data. Some useful APIs are missing.

Package: libhts-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libhts1 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for the HTSlib
 HTSlib is a unified C library for accessing common file formats, such as SAM
 (Sequence Alignment/Map) and VCF (Variant Call Format), used for nucleic acid
 sequence data obtained by high-throughput sequencing.
 .
 This package contains development files: headers, static library, manual pages,
 etc.

Package: htslib-test
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Description: Test data for HTSlib
 HTSlib is a unified C library for accessing common file formats, such as SAM
 (Sequence Alignment/Map) and VCF (Variant Call Format), used for nucleic acid
 sequence data obtained by high-throughput sequencing.
 .
 This package contains test files and scripts for the HTSlib.
