Source: htslib
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Charles Plessy <plessy@debian.org>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-exec,
               zlib1g-dev
Standards-Version: 3.9.5
Homepage: https://github.com/samtools/htslib

Package: libhts0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: C library for high-throughput sequencing data formats
 HTSlib is an experimental implementation of a unified C library for accessing
 common file formats, such as SAM and VCF, used for high-throughput sequencing
 data.
 .
 HTSlib implements a generalized BAM index.  The HTSlib file reader first looks
 for the new index and then for the old if the new index is absent.
 .
 HTSlib is unfinished. It has not been tested on large-scale real data. Some
 useful APIs are missing.

Package: libhts-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: C library for high-throughput sequencing data formats
 HTSlib is an experimental implementation of a unified C library for accessing
 common file formats, such as SAM and VCF, used for high-throughput sequencing
 data.
 .
 HTSlib implements a generalized BAM index.  The HTSlib file reader first looks
 for the new index and then for the old if the new index is absent.
 .
 HTSlib is unfinished. It has not been tested on large-scale real data. Some
 useful APIs are missing.

Package: htslib-test
Architecture: all
Depends: ${misc:Depends}
Description: test data for HTSlib
 HTSlib is an experimental implementation of a unified C library for accessing
 common file formats, such as SAM and VCF, used for high-throughput sequencing
 data.
