#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_test:
	dh_auto_test
	$(RM) test/*.tmp test/*.tmp.* test/*.o test/*.dSYM \
              test/fieldarith test/hfile test/test_view test/test-vcf-api test/test-vcf-sweep

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_clean:
	chmod ugo+x debian/libhts0.install debian/libhts-dev.install
	dh_clean
